*{
  margin: 0px;
  padding: 0px;
}

body{
  font: "Oswald";
font-size: 20px;
}

ul{

  text-align: center;
  cursor: hand;

}

li{
  list-style-type: none;
  margin-bottom: 3px;
  
}

.feito, .naoFeito{
  float: left;
  margin-top: 50px;
  margin-left: 30px;
}
a{
  color: #fff;
  text-decoration: none;
}

.completo, .incompleto{
height: 150px;
}

.completo{
  background-color: #27ae60;

}

.incompleto{
  background-color: #6e6e6e;
}
