body {
  
}
* {
  padding: 0px;
  margin: 0px;
}

.img-superior {
  width: 1050px;
  height: 300px;
}

.img-corpo {
  width: 300px;
}

.img-lateral {
  width: 200px;
}

.navbar-left {
  width: 150px;
}
