* {
  padding: 0px;
  margin: 0px;
}

.navbar-left{
  height: 55px;
}
.img-superior {

  height: 300px;
}

.img-corpo {
  width: 300px;
}

.img-lateral {
  width: 200px;
}

.navbar-left {
  width: 150px;
}
